<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>Bird 2 C6.caf</string>
	<string>21</string>
	<string>21</string>
	<string>Bird 2 C6.caf</string>
	<string>108</string>
	<string>108</string>
</array>
</plist>
