<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>Bottle Blow C4.caf</string>
	<string>65</string>
	<string>65</string>
	<string>Bottle Blow C5.caf</string>
	<string>77</string>
	<string>77</string>
	<string>Bottle Blow C6.caf</string>
	<string>89</string>
	<string>89</string>
	<string> Bottle Blow C7.caf</string>
	<string>127</string>
	<string>127</string>
</array>
</plist>
