<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>Banjo B21.caf</string>
	<string>55</string>
	<string>55</string>
	<string>Banjo B22.caf</string>
	<string>63</string>
	<string>63</string>
	<string>Banjo F31.caf</string>
	<string>69</string>
	<string>69</string>
	<string>Banjo F32.caf</string>
	<string>76</string>
	<string>76</string>
	<string>Banjo F33.caf</string>
	<string>82</string>
	<string>82</string>
	<string>Banjo F34.caf</string>
	<string>87</string>
	<string>87</string>
	<string>Banjo F5.caf</string>
	<string>100</string>
	<string>100</string>
	<string>Banjo F6.caf</string>
	<string>108</string>
	<string>108</string>
</array>
</plist>
