<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>Pretty Bells C5.caf</string>
	<string>77</string>
	<string>77</string>
	<string>Pretty Bells C6.caf</string>
	<string>89</string>
	<string>89</string>
	<string>Pretty Bells C7.caf</string>
	<string>101</string>
	<string>101</string>
	<string> Pretty Bells C8.caf</string>
	<string>127</string>
	<string>127</string>
</array>
</plist>
