<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>10000</string>
	<string>Shamison F2.caf</string>
	<string>55</string>
	<string>55</string>
	<string>Shamison Bb2.caf</string>
	<string>59</string>
	<string>59</string>
	<string>Shamison Eb3.caf</string>
	<string>67</string>
	<string>67</string>
	<string>Shamison A3.caf</string>
	<string>96</string>
	<string>96</string>
	<string>Banjo F5.caf</string>
	<string>100</string>
	<string>100</string>
	<string>Banjo F6.caf</string>
	<string>108</string>
	<string>108</string>
</array>
</plist>
