<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>Gtr HDist LPH - A31-1.caf</string>
	<string>40</string>
	<string>40</string>
	<string>Gtr HDist LPH - A31-2.caf</string>
	<string>49</string>
	<string>49</string>
	<string>Gtr HDist LPH - B21.caf</string>
	<string>54</string>
	<string>54</string>
	<string>Gtr HDist LPH - B41.caf</string>
	<string>59</string>
	<string>59</string>
	<string>Gtr HDist LPH - E11.caf</string>
	<string>64</string>
	<string>64</string>
	<string>Gtr HDist LPH - E21.caf</string>
	<string>70</string>
	<string>70</string>
	<string>Gtr HDist LPH - E41.caf</string>
	<string>75</string>
	<string>75</string>
	<string>Gtr HDist LPH - G41.caf</string>
	<string>88</string>
	<string>88</string>
</array>
</plist>
