<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>10000</string>
	<string>Tinkle Bell C5.caf</string>
	<string>77</string>
	<string>77</string>
	<string>Tinkle Bell C6.caf</string>
	<string>108</string>
	<string>108</string>
</array>
</plist>
