<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>bongo01.wav</string>
	<string>29</string>
	<string>29</string>
	<string>bongo02.wav</string>
	<string>30</string>
	<string>30</string>
	<string>bongo03.wav</string>
	<string>31</string>
	<string>31</string>
	<string>bongo04.wav</string>
	<string>32</string>
	<string>32</string>
	<string>bongo05.wav</string>
	<string>33</string>
	<string>33</string>
	<string>bongo06.wav</string>
	<string>34</string>
	<string>34</string>
	<string>bongo07.wav</string>
	<string>35</string>
	<string>35</string>
	<string>bongo08.wav</string>
	<string>36</string>
	<string>36</string>
	<string> bongo09.wav</string>
	<string>37</string>
	<string>37</string>
	<string>bongo10.wav</string>
	<string>38</string>
	<string>38</string>
	<string>bongo11.wav</string>
	<string>39</string>
	<string>39</string>
	<string>bongo12.wav</string>
	<string>40</string>
	<string>40</string>
	<string>bongo13.wav</string>
	<string>41</string>
	<string>41</string>
	<string>bongo14.wav</string>
	<string>42</string>
	<string>42</string>
	<string>bongo15.wav</string>
	<string>43</string>
	<string>43</string>
	<string>bongo16.wav</string>
	<string>44</string>
	<string>44</string>
	<string>bongo17.wav</string>
	<string>45</string>
	<string>45</string>
	<string>bongo18.wav</string>
	<string>46</string>
	<string>46</string>
	<string>bongo19.wav</string>
	<string>47</string>
	<string>47</string>
	<string>bongo20.wav</string>
	<string>48</string>
	<string>48</string>
</array>
</plist>
