<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>bongo01.caf</string>
	<string>29</string>
	<string>29</string>
	<string>bongo67.caf</string>
	<string>95</string>
	<string>95</string>
</array>
</plist>
