<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>Church Org C2.caf</string>
	<string>56</string>
	<string>56</string>
	<string>Church Org C3.caf</string>
	<string>68</string>
	<string>68</string>
	<string>Church Org C4.caf</string>
	<string>80</string>
	<string>80</string>
	<string>Church Org C6.caf</string>
	<string>94</string>
	<string>94</string>
	<string>Church Org F6.caf</string>
	<string>108</string>
	<string>108</string>
</array>
</plist>
