<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>40000</string>
	<string>Xylo E4.caf</string>
	<string>79</string>
	<string>79</string>
	<string>Xylo G#4.caf</string>
	<string>84</string>
	<string>84</string>
	<string>Xylo E5.caf</string>
	<string>103</string>
	<string>103</string>
	<string>Xylo C7.caf</string>
	<string>120</string>
	<string>120</string>
</array>
</plist>
