<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>10000</string>
	<string>Steel Drum C3.caf</string>
	<string>53</string>
	<string>53</string>
	<string>Steel Drum C4.caf</string>
	<string>65</string>
	<string>65</string>
	<string>Steel Drum C5.caf</string>
	<string>77</string>
	<string>77</string>
	<string>Steel Drum C6.caf</string>
	<string>89</string>
	<string>89</string>
	<string>Steel Drum C7.caf</string>
	<string>127</string>
	<string>127</string>
</array>
</plist>
