<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>Harp D#2.caf</string>
	<string>41</string>
	<string>41</string>
	<string>Harp G#2.caf</string>
	<string>46</string>
	<string>46</string>
	<string>Harp C#3.caf</string>
	<string>51</string>
	<string>51</string>
	<string>Harp F#3.caf</string>
	<string>55</string>
	<string>55</string>
	<string>Harp A#3.caf</string>
	<string>59</string>
	<string>59</string>
	<string>Harp C#4.caf</string>
	<string>62</string>
	<string>62</string>
	<string>Harp E4.caf</string>
	<string>65</string>
	<string>65</string>
	<string>Harp A4.caf</string>
	<string>71</string>
	<string>71</string>
	<string>Harp D#5.caf</string>
	<string>77</string>
	<string>77</string>
	<string>Harp G#5.caf</string>
	<string>81</string>
	<string>81</string>
	<string>Harp C6.caf</string>
	<string>86</string>
	<string>86</string>
	<string>Harp F6.caf</string>
	<string>90</string>
	<string>90</string>
	<string>Harp A6.caf</string>
	<string>94</string>
	<string>94</string>
	<string>Harp C#7.caf</string>
	<string>98</string>
	<string>98</string>
	<string>Harp F7.caf</string>
	<string>127</string>
	<string>127</string>
</array>
</plist>
