<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>Saw Lead C3.caf</string>
	<string>52</string>
	<string>52</string>
	<string>Saw Lead C4.caf</string>
	<string>64</string>
	<string>64</string>
	<string>Saw Lead C5.caf</string>
	<string>76</string>
	<string>76</string>
	<string>Saw Lead C6.caf</string>
	<string>88</string>
	<string>88</string>
	<string>Saw Lead C7.caf</string>
	<string>127</string>
	<string>127</string>
</array>
</plist>
