<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>Harmonica E4.caf</string>
	<string>66</string>
	<string>66</string>
	<string>Harmonica G#4.caf</string>
	<string>69</string>
	<string>69</string>
	<string>Harmonica C5.caf</string>
	<string>73</string>
	<string>73</string>
	<string>Harmonica D#5.caf</string>
	<string>75</string>
	<string>75</string>
	<string>Harmonica F5.caf</string>
	<string>77</string>
	<string>77</string>
	<string>Harmonica G5.caf</string>
	<string>80</string>
	<string>80</string>
	<string>Harmonica A#5.caf</string>
	<string>83</string>
	<string>83</string>
	<string>Harmonica D6.caf</string>
	<string>87</string>
	<string>87</string>
	<string>Harmonica A6.caf</string>
	<string>127</string>
	<string>127</string>
</array>
</plist>
